.main__body__des{
    display: flex;

    flex-direction: column;
    align-items: center;
    margin:0 1.5rem;
    width:15rem;
    background: linear-gradient(135deg,rgba(255,255,255,0),rgba(255,255,255,0));
    border-radius: 20px;
     backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:0px 22px 32px 0px rgba(56, 32, 187, 0.37) ;
    padding:24px;

    
    
     
}
.main__body__des__img{
    max-width: 90%;
  
    border-radius: 100%;
}
.main__body__des__img:hover{
    max-width: 95%;
    border-radius: 100%;
}
@media screen and (max-width:838px){
    .main__body{
        flex-direction: column;
        padding:10px;
        align-items:center;
        
    }
    .main__body__des{
        margin:10px;
        width:50%;
    }

}
@media screen and (max-width:488px){
    .main__body__des{
        width:70%;
    }
      .main__heading{
         margin-top: 4rem;
     }

}