.search-hover {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px 10px;
    transition: all 0.5s;
  }
  .search-hover:hover {
    width: 200px;
    padding-left: 50px;
  }